.detail__content{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.item__image{
    width: 451px;
    height: 548px;
    margin-top: 100px;
    margin-left: 15%;
    border: solid 1px rgb(199, 199, 199);
    border-radius: 1px;
}

.item__image-file{
    width: 451px;
    height: 548px;
}

.item__detail{
    width: 40%;
    margin-left: 15%;
    margin-top: 100px;
}

.item__name{
    width: 326px;
}
.item__name-value{
    height: 66px;
    font-size: 25px;
}
.item__price{
    width: 265px;
    margin: 15px 0;
    text-align: left;
    font-size: 20px;
}
.item__price-value{
    height: 45px;
}

.item__like{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.item__comment{
    margin-left: 25px;
}

.comment__image{
    width: 40px;
    height: 40px;
}

.like__button{
    width: 40px;
    height: 40px;
}

.comment__button{
    width: 40px;
    height: 40px;
}

.item__buy{
    width: 100%;
}

.item__buy-button{
    width: 60%;
    height: 60px;
    font-size: 30px;
    background-color: rgb(230, 64, 64);
    position: relative;
    border: solid 1px;
    border-radius: 5px;
    margin: 15px 0;
}

.item__buy-link{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.item__description-title{
    font-size: 30px;
    font-weight: bold;
}
.item__description{
    width: 60%;
    height: 230px;
    margin-bottom: 15px;
}

.item__info-title{
    font-size: 30px;
    font-weight: bold;
}

.item__category{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 15px 0;
}

.item__category-value{
    width: 100px;
    height: 29px;
    background-color: rgb(196, 194, 194);
    border: solid 0px ;
    border-radius: 8px;
    margin-left: 20px;
    padding-left: 25px;
}

.item__condition{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.item__condition-title{
    margin-right: 20px;
    font-weight: bold;
}